<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>iCrowdTask SignIn</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


</head>
<body>

	
<div class="container">
  <hr>
  <div class="row">
    <aside class="col-sm-4">
      <h4 class="card-title mb-4 mt-1">iCrowdTask Login</h4>
  <div class="card">
  <article class="card-body">
  <a href="/register" class="float-right btn btn-outline-primary">Sign up</a>
  <h4 class="card-title mb-4 mt-1">Sign in</h4>
     <form method="POST" class="login_form" id="login_form">
      <div class="form-group">
        <label>Your email</label>
          <input class="form-control" placeholder="Email" type="email" name="email" id="email" required/>
      </div> 
      <div class="form-group">
        <a class="float-right" href="#">Forgot?</a>
        <label>Your password</label>
          <input class="form-control" placeholder="******" type="password" name="password" id="password" required/>
      </div> 
      <div class="form-group"> 
      <div class="checkbox">
        <label> <input type="checkbox" name="checkbox" id="checkbox"> Save password </label>
      </div> 
      </div> 
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" name="login" id="login"> Login  </button>
         </div>                                                      
  </form>
  </article>
  
</div> <!-- card.// -->
</body>
</html>

<script>
   $(document).ready(function(){
        
     $("#login").click(function(){

     var email=$('#email').val();
     var password=$('#password').val();

     $.ajax({
       url: '/login',
       type: 'post',
       data: { email: email, password: password },
       dataType: 'json',
       success: function (data) {
         console.log(data)
         var err_code = data.err_code;

         if (err_code === 0) {
           window.alert('Login successfully')
          window.location.href='/reqtask'
         }else if (err_code === 1) {
           window.alert('email or password err');
         }else if(err_code === 500){
           window.alert('server err')
         }
       }
     })
   })
  })
 </script>